name: IngredientsForCooking

on:
    push:
        branches:
            - main

env:
    ENV: prod
    SPOONACULAR_API_KEY: ${{ secrets.SPOONACULAR_API_KEY }}

jobs:
    Deploy:
        name: Ran on ${{ matrix.os }}
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                # os: [ubuntu-latest]
                os: [ ubuntu-latest, macOS-latest, windows-latest ]

        steps:
            - name: checking out the git repo
              uses: actions/checkout@master

            # - name: Agent Info
            #   run: ./.github/scripts/AgentInfo.sh
            # - name: Install Tools
            #   run: ./InstallTools.sh

            - name: Run unit tests (Linux only)
              if: contains(matrix.os, 'ubuntu')
              run: |
                  make install_dev
                  export PATH=/home/runner/.local/bin:$PATH
                  make coverage

            - name: Run tests (MacOS-only)
              if: contains(matrix.os, 'macOS')
              run: |
                export PATH=$PATH
                make install_dev3
                export PATH=/home/runner/.local/bin:$PATH
                make coverage

            - name: Run unit tests (windows-only)
              if: contains(matrix.os, 'windows')
              run: |
                set PATH=C:\Users\runneradmin\AppData\Roaming\Python\Python37\Scripts;%PATH%
